<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- SQL映射文件, 如果不加namespace属性,则会造成错误解析映射文件,报空指针异常 -->
<mapper namespace="com.jnmd.ssm.mapper.UserMapper">
	<select id="listUser" resultType="User">
		select uid, username,password,age from user
	</select>
	<select id="getUserById" resultType="User">
		select uid, username,password,age from user
		<if test="_parameter!=null">
			where uid=#{_parameter,jdbcType=INTEGER}
		</if>
	</select>
	
	<insert id="saveUser">
	<selectKey keyColumn="uid" keyProperty="uid" order="AFTER" resultType="int">
		select @@identity as uid
	</selectKey>
		insert user(username,password,age) values(#{username},#{password},#{age})
	</insert>
	
	
	
</mapper>